doctype html
html
    head
        title heteroplasmy.js
        style
            include /css/kube.min.css
        style
            include /css/dropzone.css
        style
            include /css/font-awesome.min.css
        script(src='/js/jquery-2.2.2.min.js')
        script(src='/js/dropzone.js')
        script(src='/js/refresh.js')
    body
        row
            column(cols='1')
            column(cols='10')
                h1(class='title') heteroplasmy.js
        row
            column(cols='1')
            column(cols='3')
                h3 Upload your *.sam files
                form(action='/upload', class='dropzone', id='my-awesome-dropzone')
            column(cols='2')
                h3 Your files
                #list
            column(cols='5')
                h3 Preview
                img#preview(src='')