doctype html
html
    head
        title heteroplasmy.js
        style
            include /css/kube.min.css
        style
            include /css/dropzone.css
        style
            include /css/font-awesome.min.css
        script(src='/js/jquery-2.2.2.min.js')
        script(src='/js/dropzone.js')
        script(src='/js/refresh.js')
    body
        row
            column(cols='1')
            column(cols='10')
                h1(class='title') heteroplasmy.js
                p.
                    Данный сервис позволяет определить уровень гетероплазмии для каждой нуклеотидной позиции мтДНК по результатам NGS.<br/>
                    Для FASTQ-файлов выравнивание коротких прочтений производится при помощи BWA относительно последовательности RSRS.<br/>
                    Обработка файлов может занимать продолжительное время.
        row
            column(cols='1')
            column(cols='3')
                h4 Загрузите подходящие SAM или FASTQ файлы:
                form(action='/upload', class='dropzone', id='my-awesome-dropzone')
            column(cols='2')
                h4 Ваши файлы:
                #list
            column(cols='5')
                h4 Результат:
                #label
                img#preview(src='/img/blank.png')